---
import Layout from "../layouts/BaseLayout.astro";
import "../styles/styles.css";
import "../styles/botones.css";
import "../styles/styleslogin.css";
---

<Layout>
    
    <div class="container">

        <div class="image-container img1">
            <a href="https://www.trojan.com.mx/productos/ecstasy">
                <img src="/trojan_ec.jpg" class="floating-image zoom" alt="Imagen 1">
                <img src="/fb.jpg" class="overlay-image">
                <div class="tooltip">3</div>
            </a>
        </div>

        <div class="image-container img2">
            <a href="https://tienda.prudence.com.mx/collections/preservativos/products/chocolate">
                <img src="/prudence_ch.jpg" class="floating-image zoom rotacion3D" alt="Imagen 2">
                <img src="/ig.jpg" class="overlay-image">
                <div class="tooltip">3</div>
            </a>
        </div>

        <div class="image-container img3">
            <a href="https://www.trojan.com.mx/productos/fire-ice">
                <img src="/trojan_fi.jpg" class="floating-image zoom" alt="Imagen 3">
                <img src="/whats.jpg" class="overlay-image">
                <div class="tooltip">5</div>
            </a>
        </div>

        <div class="image-container img4">
            <a href="https://www.trojan.com.mx/productos/piel-desnuda-puntos-de-placer">
                <img src="/trojan_pd.jpg" class="floating-image zoom" alt="Imagen 4">
            </a>
        </div>

        <div class="image-container img5">
            <a href="https://www.trojan.com.mx/productos/piel-desnuda">
                <img src="/2.jpg" class="floating-image zoom" alt="Imagen 5">
            </a>
        </div>
        
    </div>

</Layout>
