---
import Layout from "../layouts/BaseLayout.astro";
import "../styles/styles.css";
import "../styles/botones.css";
import "../styles/styleslogin.css";
---

<Layout>

<div class="body-info">

  <header>
  </header>
  
  <!-- 游닍 Contenedor de tarjetas -->
  <div class="container-wrapper">
    
    <div class="container-info reflejo esmerillado forma-rectangular">  
      <img src="/prudence.jpg" alt="Imagen de Prudence">
      <div class="text">
        <h2>Prudence</h2>
        <p>
          Existe una gran variedad de presentaciones de los Condones Prudence.<br/>
          <span class="hover-text">Cl치sicos<span class="tooltip-info">No poseen aromas, sabores ni texturas.</span></span><br/>
          <span class="hover-text">Sensitivos y texturizados<span class="tooltip-info">Mayor sensibilidad y placer.</span></span><br/>
          <span class="hover-text">Aroma y sabor<span class="tooltip-info">Comestibles e hipoalerg칠nicos.</span></span><br/>
          <span class="hover-text">Especiales<span class="tooltip-info">Fosforescentes y retardantes.</span></span>
        </p>
      </div>
    </div>

    <div class="container-info reflejo esmerillado forma-rectangular">  
      <img src="/2.jpg" alt="Imagen de Trojan Sensitive">
      <div class="text">
        <h2>Trojan Sensitive</h2>
        <p>
          Los condones delgados tienen aproximadamente el mismo ancho y longitud, pero var칤an en grosor.<br/>
          <span class="hover-text">Disponibles en diferentes tama침os.<span class="tooltip-info">Versiones delgadas en distintos tama침os.</span></span>
        </p>
      </div>
    </div>

    <div class="container-info reflejo esmerillado forma-rectangular">
      <img src="/2.jpg" alt="Imagen de Trojan Sensitive">
      <div class="text">
        <h2>Trojan Sensitive</h2>
        <p>
          Los condones delgados tienen aproximadamente el mismo ancho y longitud, pero var칤an en grosor.<br/>
          <span class="hover-text">Disponibles en diferentes tama침os.<span class="tooltip-info">Versiones delgadas en distintos tama침os.</span></span>
        </p>
      </div>
    </div>

    <div class="container-info reflejo esmerillado forma-rectangular">
      <img src="/2.jpg" alt="Imagen de Trojan Sensitive">
      <div class="text">
        <h2>Trojan Sensitive</h2>
        <p>
          Los condones delgados tienen aproximadamente el mismo ancho y longitud, pero var칤an en grosor.<br/>
          <span class="hover-text">Disponibles en diferentes tama침os.<span class="tooltip-info">Versiones delgadas en distintos tama침os.</span></span>
        </p>
      </div>
    </div>
    
    <div class="container-info reflejo esmerillado forma-rectangular">
      <img src="/2.jpg" alt="Imagen de Trojan Sensitive">
      <div class="text">
        <h2>Trojan Sensitive</h2>
        <p>
          Los condones delgados tienen aproximadamente el mismo ancho y longitud, pero var칤an en grosor.<br/>
          <span class="hover-text">Disponibles en diferentes tama침os.<span class="tooltip-info">Versiones delgadas en distintos tama침os.</span></span>
        </p>
      </div>
    </div>

</div>
</div>

</Layout>