---
import Layout from "../layouts/BaseLayout.astro";
import "../styles/styles.css";
import "../styles/botones.css";
import "../styles/styleslogin.css";
---

<Layout>
    <header>
        <font size="40" color="White">Listas</font>
    </header>

    <main class="contenedor-lis">
        <aside class="lis">
            <ul>
                <h2>Condones que manejamos</h2>
                <li>Durex</li>
                <li>LifeStyles</li>
                <li>M</li>
                <li>Playboy</li>
                <li>Prudence</li>
                <li>Sico</li>
                <li>Trojan</li>
        </ul>
        </aside>
    </main>

    <main class="contenedor-lis2">
        <aside class="lis2">
            <ul>
                <h2>Sabores</h2>
                <li>Fresa</li>
                <li>Chocolate</li>
                <li>Menta</li>
                <li>Uva</li>
                <li>Platano</li>
                <li>Naranja</li>
                <li>Vainilla</li>
                <li>Chicle</li>
                <li>Sandia</li>
        </ul>
        </aside>
    </main>

</Layout>